{% extends "./base.html" %}
{% block main %}
{% load static %}

<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h1 id="NSK">금융기관 연락처</h1>
                <div class="separator separator-info">✻</div>
                <audio controls="controls">
                    <source src="{% static 'audios/financial_html.mp3' %}" type="audio/mpeg">
                    finanacial_html.mp3
                </audio>
            </div>

            <!-- 페이징처리 시작 -->
            <!-- <ul class="pagination justify-content-center"> -->
                <!-- 이전페이지 -->
                <!-- {% if question_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %} -->
                <!-- 페이지리스트 -->
                <!-- {% for page_number in question_list.paginator.page_range %}
                    {% if page_number >= question_list.number|add:-3 and page_number <= question_list.number|add:3 %}
                        {% if page_number == question_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %} -->
                <!-- 다음페이지 -->
                <!-- {% if question_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul> -->
            <!-- 페이징처리 끝 -->


            <div class="section section-cards">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            {% for org in orgs_list %}
                                {% if "국번" not in org.call %}
                                    <div class="col-sm-6">
                                        <a href="{{ org.url }}" target="_blank">
                                            <div class="card card-price">
                                                <br>
                                                <h3 id="NSK" class="title-header text-info">{{ org.name }}</h3>
                                                <p id="NSK" class="text-description text-gray">{{ org.call }}</p>
                                                <br>
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}