{% extends "./base.html" %}
{% block main %}
{% load static %}

<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h1 id="NSK">신고하기</h1>
                <div class="separator separator-info">✻</div>
                <h5 id="NSK" class="text-gray">기관을 선택해주세요.</h5>
                <br>
                <audio controls="controls">
                    <source src="{% static 'audios/notify_html.mp3' %}" type="audio/mpeg">
                    notify_html.mp3
                </audio>
                
                <!-- 금융기관/수사기관 선택해 신고하기 -->
                <div class="section">
                    <div class="container-fluid">        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-blog">
                                    <a href='/financial/'>
                                        <div class="content">
                                            <div class="icon text-info">
                                                <i class="pe-7s-credit"></i>
                                            </div>
                                            <br>
                                            <a href="/financial/" class="card-title"><h2 id="NSK">금융기관</h2></a>
                                            <hr>
                                            <h4 id="NSK" class="text-description text-gray">은행, 카드사</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-blog">
                                    <a href="/investigative/">
                                        <div class="content">
                                            <div class="icon text-info">
                                                <i class="pe-7s-user"></i>
                                            </div>
                                            <br>
                                            <a href="/investigative/" class="card-title"><h2 id="NSK">수사 및 신고기관</h2></a>
                                            <hr>
                                            <h4 id="NSK" class="text-description text-gray">경찰청, 금융감독원 등</h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}