<footer class="footer footer-color-black" data-color="black">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://presentation.creative-tim.com" target="_blank">About Us</a>
                </li>
                {% comment %} <li>
                    <a href="https://blog.creative-tim.com" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                </li> {% endcomment %}
            </ul>
        </nav>
        <div class="social-area pull-right">
            <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/CreativeTim">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a class="btn btn-social btn-twitter btn-simple" href="https://twitter.com/CreativeTim">
                <i class="fa fa-twitter"></i>
            </a>
                <a class="btn btn-social btn-pinterest btn-simple" href="https://www.instagram.com/CreativeTimOfficial">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; <script>document.write(new Date().getFullYear())</script>  Creative Tim, made with love
        </div>
    </div>
</footer>