{% load static %}

<nav class="navbar navbar-default navbar-fixed-top">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a id="NSK" href="/" class="navbar-brand">
                Dvdvdip
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <a id="NSK" href="/">Home</a>
                </li>
                <li>
                    <a id="NSK" href="/rel_org/">유관기관</a>
                </li>
                <li>
                    <a id="NSK" href="/victim_guide/">피해 시 대응방법 안내</a>
                </li>
                <li>
                   <a id="NSK" href="/detection_history/" class="btn btn-default btn-fill">탐지 내역 조회</a>
                </li>
                <li>
                    <a id="NSK" href="/notify/" class="btn btn-info btn-fill">신고하기</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>